@import views.html.layout.default._
@main("Scala Template") {
<!-- Main text area -->
<div class="jumbotron">
    <h3>About Scala Template:</h3>
    <p>

        Lorem ipsum dolor sit amet, putent consulatu sea cu. Eu eum nostrud mandamus, amet summo numquam eam eu, sit veniam epicuri ponderum ei. Ea debet perfecto suscipiantur eam. Eum ex ferri accusam, eligendi quaerendum an eam, wisi iusto eos an. Adhuc ubique quaerendum his ut. Vis liber quaestio expetenda cu, cum et iracundia temporibus, malorum ornatus eos ut.<br><br>

        Augue omnium vel ea, eum an everti maiestatis, hinc suavitate no sea. Et duo stet atqui ignota, has ex omittam appellantur. Et mei consulatu argumentum liberavisse. Sint nobis temporibus ad sed, ne pro timeam volutpat. Ut purto soleat est.
    </p>
</div>
}
