@import views.html.layout.default._
@main("Scala Template") {
    <link type="text/css" rel="stylesheet" href="routes.Assets.at("stylesheets/home/index.css")" />

    <!-- Main text area -->
    @*<div class="jumbotron">*@
        <div class="container">
            <h1>Welcome to Scala Template!</h1>
            <image src="routes.Assets.at("images/playlogo.png")" width=175.8, height=60 align=right>
            <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                    ultrices nunc lacinia mauris vehicula, tincidunt ultrices ipsum
                    ullamcorper. Fusce vulputate nibh eleifend sem sagittis accumsan.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                    ultrices nunc lacinia mauris vehicula, tincidunt ultrices ipsum
                    ullamcorper. Fusce vulputate nibh eleifend sem sagittis accumsan.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                    ultrices nunc lacinia mauris vehicula, tincidunt ultrices ipsum
                    ullamcorper. Fusce vulputate nibh eleifend sem sagittis accumsan.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                    ultrices nunc lacinia mauris vehicula, tincidunt ultrices ipsum
                    ullamcorper. Fusce vulputate nibh eleifend sem sagittis accumsan.
            </p>
            <p>
                <a class="btn btn-primary btn-lg btn-home" role="button">Log in</a>
                <a class="btn btn-primary btn-lg btn-home" role="button">Sign up</a>
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- Left Column -->
            <div class="col-md-4">
                <h2>Left Column</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                    ultrices nunc lacinia mauris vehicula, tincidunt ultrices ipsum
                    ullamcorper. Fusce vulputate nibh eleifend sem sagittis accumsan.
                </p>

                <p>
                    <a class="btn btn-default" href="#" role="button">Take Action &raquo;</a>
                </p>
            </div>

            <!-- Middle Column -->
            <div class="col-md-4">
                <h2>Middle Column</h2>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices
                    nunc lacinia mauris vehicula, tincidunt ultrices ipsum ullamcorper.
                    Fusce vulputate nibh eleifend sem sagittis accumsan. Donec tincidunt
                    nibh vel leo pharetra malesuada. Duis lacinia aliquet orci nec ultrices.
                </p>

                <p>
                    <a class="btn btn-default" href="#" role="button">Take Action &raquo;</a>
                </p>
            </div>

            <!-- Right Column -->
            <div class="col-md-4">
                <h2>Right Column</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices
                    nunc lacinia mauris vehicula, tincidunt ultrices ipsum ullamcorper.
                    Fusce vulputate nibh eleifend sem sagittis accumsan. Donec tincidunt
                    nibh vel leo pharetra malesuada. Duis lacinia aliquet orci nec ultrices.
                </p>

                <p>
                    <a class="btn btn-default" href="#" role="button">Take Action &raquo;</a>
                </p>
            </div>
        </div>
    </div>
    @*</div>*@

}
